:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#root {
  height: inherit;
  margin: 0;
  display: grid;
  grid-template-rows: 0.2fr 2fr 0.1fr;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  z-index: 1;
  margin-top: 10px;
  padding: 0 2.5rem;
}
nav > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  min-width: 40%;
  justify-content: space-around;
}
.scroll {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 60px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
#first > div:first-child {
  font-size: 2rem;
  letter-spacing: 0.01rem;
  line-height: 1.5;
  font-weight: 500;
}
#first > div:nth-child(2) {
  font-size: 70px;
}
#first > div:nth-child(3) {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 1.5;
}
#first > div:nth-child(4) {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  gap: 15px;
}
#second {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
#second > div:first-child {
  display: flex;
  flex-direction: column;
}
#second > div:first-child > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#second>div:first-child>h2{
  margin-top: 50px;
  text-align: center;
}
#second> div:nth-child(3) {
  margin-top: -65px;
  padding:10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#second> div:nth-child(3)>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#second> div:nth-child(3) p{
  width: 90%;
}
#third {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
}
hr {
  grid-column: 1/3;
  grid-row: 2;
}
#third > div:first-child > h2,
#third > div:nth-child(5) > h2 {
  font-size: 3.5rem;
}
#third > div:first-child > p,
#third > div:nth-child(5) > p {
  font-size: 1.5rem;
}
#third > div:nth-child(5) {
  align-self: flex-start;
}
#third > div:nth-child(4) {
  align-self: flex-start;
}
#third > div:nth-child(4) > p {
  font-size: larger;
  font-weight: bold;
}
#third > div:nth-child(4) >pre {
  font-size: small;
}
#third > div:first-child {
  display: flex;
  flex-direction: column;
  align-self: center;
}
#third > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 26px;
}
#third > div:nth-child(2)>pre{
  font-size: small;
}
#third > div:nth-child(2) > button {
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 1rem 1.5rem;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
#third > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
code {
  white-space: pre-wrap;
}
#second .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #213547;
}
#second .card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #fff;
}
#second .card .slide {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}
#second .card .slide.slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.7s;
  transform: translateY(100px);
}
#second .card:hover .slide.slide1 {
  transform: translateY(0px);
}
#second .card .slide.slide2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.8s;
  transform: translateY(-100px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  background: white;
}
#second .card:hover .slide.slide2 {
  transform: translateY(0);
}
#second .card .slide.slide2::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: 15px;
  left: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: #213547;
}
#second .card .slide.slide2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}
#second .card .slide.slide2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  color: #414141;
}
a {
  text-decoration: none;
  color: inherit;
}
.scroll-container{
  margin-top: 15px;
  max-height: min-content;
}
.scroll-container>h2{
  text-align: center;
  margin-bottom: 40px;
}
.carousel-primary, .carousel-secondary{
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.carousel-primary img {
  width: 100%;
  margin-left: 20px;
  border-radius: 15px;
}
.carousel-primary {
  display: flex;
  justify-content: space-around;
  animation: scroll-horizontal 50s linear infinite;
}
.carousel-secondary {
  left: 100%;
  bottom: 90px;
  animation: scroll-horizontal 50s linear infinite;
  animation-delay: 25s;
}
.carousel-primary:hover,
.carousel-secondary:hover{
  animation-play-state: paused;
}
.carousel-secondary:hover{
  animation-play-state: paused;
}
.scroll-container:hover>.carousel-primary:not(:hover) {
  animation-play-state: paused;
}
.project-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
  grid-template-rows: 100px repeat(3,500px);
  grid-auto-rows: 500px;
  grid-gap: 35px;
  margin: 100px;
  justify-items: center;
}
.project-grid>h1{
  grid-column: 1/-1;
  grid-row: 1;
  text-align: center;
  color: #3498DB;
}
.project-card{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
  gap: 10px;
  transition: transform 0.05s ease-in-out;
}
.project-card>div{
  text-align: left;
}
.project-card>div:nth-child(2) {
  display: flex;
  justify-content: center;
  height: auto;
  overflow: hidden;
  max-width: 100%;
}
.project-card>div:nth-child(3){
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 25px;
}
.project-card>div:nth-child(3)>a>button{
  padding: 8px 16px;
  background: #3498DB;
  color: white;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.2s ease-out;
}
button a {
  color: white;
  text-decoration: none;
}
.project-card>div:nth-child(3)>a>button:hover {
  background: #1a425c;
}
.project-card:hover{
  transform: translateY(-20px) scale(1.02);
}
#contact-form {
  display: grid;
  padding-left: 50px;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
#contact-form div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact-form>div{
  padding: 30px;
}
#contact-form>div>form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
textarea {
  height: 250px;
  padding: 20px;
}
form input {
  padding: 10px;
  font-size: large;
  outline: none;
}
form input:hover{
  border: 2px solid #213547;
}
form button {
  margin-top: 25px;
  height: 50px;
  width: 50%;
  border-radius: 5px;
  background: #213547;
  color: #ffffff;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
  transition: transform 0.1s ease-in-out;
}
form button:hover{
  transform: scale(1.1);
}
#contact-form>div:nth-child(2)>a{
  align-self: center;
}
#contact-form>div:nth-child(2) button{
  padding: 20px;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
  background: #213547;
  color: #ffffff;
  font-size: large;
  font-weight: bold;
}
.arrow{
  animation: bounce 1s infinite alternate;
  align-self: center;
}
.about-container{
  padding: 15px;
}
@keyframes bounce {
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(20px);
  }
}
@keyframes scroll-horizontal {
  from{
    left: 100%
  }
  to{
    left:-100%
  }
  
}

@media screen and (max-width:800px) and (min-width:600px)  {
  #second {
    display: flex;
    flex-direction: column;
  }
  #second .card .slide {
    width: 180px;
    height: 200px;
  }
  .card {
    height: 300px;
  }
  #second .card .icon .fa {
    font-size: 20px;
  }
  #second .card .slide.slide2 .content h3 {
    font-size: 20px;
  }
  #second .card .slide.slide2 .content p {
    font-size: 0.75rem;
  }
  nav > div:nth-child(2) {
    gap: 15px;
  }
  #first > div:nth-child(2) {
    max-width: 600px;
    text-align: center;
    font-size: 50px;
  }
  #third{
    padding: 25px;
  }
  #third > div:first-child > h2, #third > div:nth-child(5) > h2 {
    font-size: 2rem;
  }
  #third > div:first-child > p, #third > div:nth-child(5) > p {
    font-size: 1rem;
  }
  #third > div:nth-child(2)>pre, #third > div:nth-child(4) >pre {
    font-size: 0.7rem;
  }
}

@media screen and (max-width:900px) and (min-width:800px)  {
  #second {
    display: flex;
    flex-direction: column;
  }
  #second .card .slide {
    width: 190px;
    height: 200px;
  }
  .card {
    height: 300px;
  }
  #second .card .icon .fa {
    font-size: 20px;
  }
  #second .card .slide.slide2 .content h3 {
    font-size: 20px;
  }
  #second .card .slide.slide2 .content p {
    font-size: 0.75rem;
  }
  nav > div:nth-child(2) {
    gap: 15px;
  }
  #first > div:nth-child(2) {
    max-width: 700px;
    text-align: center;
    font-size: 60px;
  }
  #third{
    padding: 25px;
  }
  #third > div:first-child > h2, #third > div:nth-child(5) > h2 {
    font-size: 2.5rem;
  }
  #third > div:first-child > p, #third > div:nth-child(5) > p {
    font-size: 1rem;
  }
  #third > div:nth-child(2)>pre, #third > div:nth-child(4) >pre {
    font-size: 0.7rem;
  }
}

@media screen and (max-width:1050px) and (min-width:900px)  {
  #second {
    display: flex;
    flex-direction: column;
  }
  #second .card .slide {
    width: 220px;
    height: 200px;
  }
  .card {
    height: 300px;
  }
  #second .card .icon .fa {
    font-size: 20px;
  }
  #second .card .slide.slide2 .content h3 {
    font-size: 20px;
  }
  #second .card .slide.slide2 .content p {
    font-size: 0.75rem;
  }
  nav > div:nth-child(2) {
    gap: 15px;
  }
  #first > div:nth-child(2) {
    max-width: 700px;
    text-align: center;
  }
  #third{
    padding: 25px;
  }
  #third > div:first-child > h2, #third > div:nth-child(5) > h2 {
    font-size: 4rem;
  }
  #third > div:first-child > p, #third > div:nth-child(5) > p {
    font-size: 1rem;
  }
  #third > div:nth-child(2)>pre, #third > div:nth-child(4) >pre {
    font-size: 0.9rem;
  }
}

/*make grid display 2x2
make nav bar smaller or make it with icons instead?
make third page much smaller
center projects page
make contact page a column */

@media screen and (max-width:600px) and (min-width:400px)  {
  #second {
    display: flex;
    flex-direction: column;
  }
  #second .card .slide {
    width: 220px;
    height: 200px;
  }
  .card {
    height: 300px;
  }
  #second .card .icon .fa {
    font-size: 20px;
  }
  #second .card .slide.slide2 .content h3 {
    font-size: 20px;
  }
  #second .card .slide.slide2 .content p {
    font-size: 0.75rem;
  }
  nav > div:nth-child(2) {
    gap: 15px;
  }
  #first > div:nth-child(2) {
    max-width: 500px;
    text-align: center;
    font-size: 2.5rem;
  }
  #third{
    padding: 25px;
  }
  #third > div:first-child > h2, #third > div:nth-child(5) > h2 {
    font-size: 4rem;
  }
  #third > div:first-child > p, #third > div:nth-child(5) > p {
    font-size: 1rem;
  }
  #third > div:nth-child(2)>pre, #third > div:nth-child(4) >pre {
    font-size: 0.9rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
