:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body{
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#root {
  height: inherit;
  margin: 0;
  display: grid;
  grid-template-rows: 0.2fr 2fr 0.1fr;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  z-index: 1;
  margin-top: 10px;
  padding: 0 2.5rem;
}
nav>div:nth-child(2) {
  display: flex;
  flex-direction: row;
  min-width: 40%;
  justify-content: space-around;
}
.scroll{
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 60px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:#213547;
  gap: 20px ;
}
#first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
#first>div:first-child {
  font-size: 2rem;
  letter-spacing: 0.01rem;
  line-height: 1.5;
  font-weight:500;
}
#first>div:nth-child(2) {
  font-size: 70px;
}
#first>div:nth-child(3) {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 1.5;
}
#first>div:nth-child(4) {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  gap: 15px;
}
#third{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
}
#third>div:first-child>h2,
#third>div:nth-child(4)>h2 {
  font-size: 3.5rem;
}
#third>div:first-child>p,
#third>div:nth-child(4)>p {
  font-size: 1.5rem;
}
#third>div:nth-child(4) {
  justify-self: stretch;
  align-self: flex-start;
}
#third>div:nth-child(3) {
  align-self: flex-start;
}
#third>div:nth-child(3)>p {
  font-size: larger;
  font-weight: bold;
}
#third>div:first-child{
  display: flex;
  flex-direction: column;
}
#third>div:nth-child(2){
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 26px;
  justify-self: stretch;
}
#third>div:nth-child(2)>button{
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 1rem 1.5rem;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
#third>div:nth-child(2)>div{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
code {
  white-space: pre-wrap;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


